<div class="container">
  <h2>Comparador</h2>

  {{ $ctrl.recibirEventoHijo()}}

  <div class="row">

    <!-- 1º columan -->
    <div class="col-md-2">      
        <input type="search" ng-model="nombre" placeholder="Busca por nombre">

        
        {{ $ctrl.filtro | json }}

        <select ng-model="$ctrl.filtro.atributo">
          <option value="ram">RAM</option>
          <option value="flash">FLASH</option>
        </select>

        <br>
        <label>MIN {{$ctrl.filtro.min}}</label>
        <input type="range" ng-model="$ctrl.filtro.min" step="512" max="2048" min="0">

        <label>MAX {{$ctrl.filtro.max}}</label>
        <input type="range" ng-model="$ctrl.filtro.max" step="512" max="32000" min="0">

        <ul class="list-group">
          <li class="list-group-item" 
              ng-repeat="phone in $ctrl.phones | filter:nombre | filtroTelefonos:$ctrl.filtro"
              ng-click="$ctrl.selecionar(phone)">
            <img ng-src="{{phone.imageUrl}}" class="responsive"/>
            {{phone.name}}
            <br>
            FLASH:{{phone.storage.flash}}  RAM:{{phone.storage.ram}}
          </li>          
        </ul>
    </div>

    <!-- 2º columan -->
    <div class="col-md-5">      
      <phone-comparador-detalle mostrar="$ctrl.phone1" comparar="$ctrl.phone2"></phone-comparador-detalle>   
    </div>

    <!-- 3º columan -->
    <div class="col-md-5">      
      <phone-comparador-detalle mostrar="$ctrl.phone2" comparar="$ctrl.phone1"></phone-comparador-detalle>            
    </div>

  </div>
  <!-- /.row -->


</div>
